.sidenav {
  display: flex;
  flex-direction: column;
  /* width: 15% !important; */
  width: 15.125rem;
  min-width: 10rem;
  height: calc(100vh - 65px);
  background-color: #f1f1f1;
  box-sizing: border-box;
  overflow: hidden;
}

.nav-link {
  text-decoration: none;
}

.nav-link button {
  width: 100%;
  color: black;
  background-color: transparent;
  border: none;
  height: 60px;
  text-align: left;
  cursor: pointer;
  justify-content: left;
  transition: background-color 0.3s;
  border-radius: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.nav-link button:hover {
  background-color: grey;
}

.active-link button {
  background-color: #ff7f50;
  color: white;
}
.active-link button {
  background-color: #ff7f50;
  color: white;
}

.active-link .css-1umw9bq-MuiSvgIcon-root {
  color: white !important;
}

.active-link .css-1umw9bq-MuiSvgIcon-root::after {
  color: white !important;
}

.active-link button::after {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  right: 5px;
  background-color: #f1f1f1;
}

.sidenav-button {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.nav-icon {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px;
}

/* .button-decoration{

} */
.mobileNavOpen-btn,
.lnav-burgermenu {
  display: none;
}

@media (max-width: 1024px) {
  /* .sidenav {
    height: 100vh !important;
  } */
}

@media (max-width: 1163.64px) {
  /* .sidenav {
    height: calc(100vh - 2rem);
  } */
}

@media (max-width: 768px) {
  .logoDiv h2 {
    width: 8rem;
  }
  .sidenav {
    display: _none;
    height: calc(100vh - 2rem);
    position: relative;
    overflow: visible;
  }

  label.lnav-burgermenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-color: rgb(82, 37, 181);
    border-radius: 5px;
  }
  label.lnav-burgermenu span {
    background: #fff;
    border-radius: 10px;
    height: 2px;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    position: relative;
    left: 3px;
    top: 5px;
  }
  label.lnav-burgermenu span:nth-of-type(1) {
    width: 40%;
  }
  label.lnav-burgermenu span:nth-of-type(2) {
    width: 80%;
  }
  label.lnav-burgermenu span:nth-of-type(3) {
    width: 60%;
  }
  label.lnav-burgermenu input[type="checkbox"] {
    display: none;
  }
  label.lnav-burgermenu input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(5px, 3px);
  }
  label.lnav-burgermenu input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }
  label.lnav-burgermenu input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(8px, -6px) rotatez(45deg);
  }
}
